.specials {
    width: 100%;
    padding: 6rem 1rem;
    display: flex;
    flex-direction: column;
    padding-left: 15%;
    padding-right: 15%;
    background: linear-gradient(rgba(73, 94, 87, .7), white);
    position: relative;
    margin-bottom: 100px;
}

.specials .heading {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding-bottom: 2rem;
}

.specials-container {
    max-width: 1140px;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 40px;
}

.specials-container .card {
    text-align: center;
    color: var(--textColor);
    padding: 10px;
    background-color: rgba(73, 95, 88, 0.5);
    /* border-radius: 10%; */
}

.specials-container .card img {
    max-width:100%;
    /* border-radius: 10% 10% 0 0; */
}

.specials-container .card:hover {
    box-shadow: 10px 5px 5px rgba(73, 94, 87, .5);
    background-color: rgba(73, 95, 88, 0.8);
}

@media screen and (max-width: 950px) {
    .specials-container {
        max-width: 90%;
        margin: 10%;
        grid-template-columns: 1fr;
        row-gap: 40px;
    }
}
