 /* Animation */

@keyframes scroll {
	0% { transform: translateX(0); }
	100% { transform: translateX(calc(-250px * 10))}
}


/*  Styling */

.slider {
	background: var(--mainColor);
	height: 100px;
	margin: auto;
	overflow: hidden;
	position: relative;
	width: 100%;
}

.slider .slide-track {
	animation: scroll 50s linear infinite;
	display: flex;
	/* width: calc(250px * 14); */
}

.slider .slide {
	height: 100px;
	width: 250px;
	position: relative;
	top: 10px;
}