@import url("https://fonts.googleapis.com/css2?family=Titillium+Web:wght@300;400;700&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Titillium Web", sans-serif;
}


:root {
	--mainColor: #495f58;
	--mainColorLight: rgb(244, 206, 20);
	--secondaryColor: #ee9972;
  --secondaryColorLight: rgb(251, 218, 187);
	--textColor: rgb(51, 51, 51);
  --textColorLight: rgb(237, 239, 238);
}

.rdp {
  --rdp-cell-size: 40px;
  --rdp-caption-font-size: 18px;
  --rdp-accent-color: #495f58;
  --rdp-background-color: rgb(244, 206, 20);
  --rdp-accent-color-dark: #354a43;
  --rdp-background-color-dark: #293934;
  --rdp-outline: 2px solid var(--rdp-accent-color); /* Outline border for focused elements */
  --rdp-outline-selected: 3px solid var(--rdp-accent-color); /* Outline border for focused _and_ selected elements */

  margin: 1em;
}


h1, h4, p, a {
  color: var(--textColor);
  text-decoration: none;
}

ul {
  list-style-type: none;
}

.heading-secondary {
  font-size: 28px;
  font-weight: 300;
  text-transform: uppercase;
  line-height: 1.1;
}

.heading-secondary span {
  font-weight: 600;
}

.btn {
  padding: 12px 32px;
  font-size: 1rem;
  text-transform: uppercase;
  background: var(--mainColorLight);
  color: var(--textColor);
  border: 1px solid var(--textColorLight);
  font-weight: 600;
  cursor: pointer;
}

.btn-light {
  background: transparent;
  color: var(--textColorLight);
}

.btn:hover {
  background: rgba(73, 94, 87, 0.5);
  color:rgb(237, 239, 238);
  transition: 0.3s;
}



/* Used in Menu:  */

.section {
  padding: 70px 0;
}

.container {
  max-width: 1310px;
  margin: 0 auto;
  padding: 0 50px;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 30px;
}

@media screen and (max-width: 640px) {
  .grid-container {
    grid-template-columns: 1fr;
  }

}

